.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    gap: 2rem;
}

span {
    color: #9370db;
}

.changeBtn {
    padding: 1rem 3rem;
    background: #9370db;
    border: none;
    outline: none;
    font-size: medium;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.changeBtn:active {
    transform: translateY(2px);
}